<div class="main-section">
    <div class="maindiv">
        <div class="left">
            <div class="sidemenu">
                <ul class="nav-area">
                    <p class="sidebar-heading">TOP CATEGORIES</p>
                    <li class="sidebar-main"><a href="#">
                            <span class="inside-sidebarmain"><img src="../assets/images/discount.png"
                                    width="28px"></span>
                            <span class="inside-sidebarmain2">
                                <p class="in">All Offers</p>
                            </span></a>

                        <div  class="sub-nav">
                            <div class="sub-menu">
                                <div>
                                    <p class="sub-menu-p"><span class="sub-menu-phead">SUMMER ESSENTIALS</span><br>
                                        AC Blankets<br>
                                        Air Conditioners<br>
                                        Refrigerators<br>
                                        Fans<br>
                                        Air Coolers<br>
                                        Ice trays<br>
                                        Juicers<br>
                                        Water Bottles<br>
                                        Hair Dryers<br>
                                        Chillers & Water Coolers<br>
                                        <br>
                                        <span class="sub-menu-phead">SUMMER CARE</span><br>
                                        Sunscreens<br>
                                        Face Wash & Cleansers<br>
                                        Wipes<br>
                                        Hats<br>
                                        Sunglasses<br>
                                        Umbrellas<br>
                                        Mosquito Nets
                                    </p>
                                </div>
                            </div>

                            <div class="sub-menu">
                                <div>
                                    <p class="sub-menu-p"><span class="sub-menu-phead">MEN'S SUMMER FASHION</span><br>

                                        T-shirt Store<br>
                                        Half Sleeve Shirts<br>
                                        Shorts & 3/4ths<br>
                                        Flip Flops<br>
                                        Sandals<br>
                                        Casual Shoes<br>
                                        <br>
                                        <span class="sub-menu-phead">WOMEN'S SUMMER FASHION</span><br>
                                        Kurtis<br>
                                        Dresses<br>
                                        Tops & Tunics<br>
                                        Innerwear & Sleepwear<br>
                                        Flats<br>
                                        Slippers<br>
                                        <br>
                                        <span class="sub-menu-phead">KIDS' FASHION</span><br>
                                        Boy's Kurta Pyjama<br>
                                        Girl's Lehenga Cholis<br>
                                        Top & Bottom Sets<br>
                                        Ethnic Gowns
                                    </p>
                                </div>
                            </div>

                            <div class="sub-menu">
                                <div>
                                    <p class="sub-menu-p"><span class="sub-menu-phead">FEATURED STORES</span><br>
                                        99 Store<br>
                                        Imports Store<br>
                                        Beauty Store<br>
                                        Wedding Store<br>
                                        Travel Store<br>
                                        Anti-Pollution Store<br>
                                        Mobiles Accessories Mela<br>
                                        Bicycle Store<br>
                                        <br>
                                        <span class="sub-menu-phead">SPECIAL OFFERS</span><br>
                                        Sports Shoes 20-60% Off<br>
                                        Sarees Starting Rs. 499<br>
                                        TVs & Accessories<br>
                                        Automotive Upto 60% Off<br>
                                        Cricket Gear From Rs. 150<br>
                                        Storage - Under 999<br>
                                        Toys Upto 70% Off<br>
                                        Best in PowerBanks
                                    </p>
                                </div>
                            </div>
                            <div class="sub-menu">
                                <div>
                                    <img src="https://n4.sdlcdn.com/imgs/i/f/f/BlockbusterDeals-cb277.jpg">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li  class="sidebar-main"><a href="">
                            <span class="inside-sidebarmain"><img src="../assets/images/smartphone.png"
                                    width="28px"></span>
                            <span class="inside-sidebarmain2">
                                <p class="in">Mobile & Tablets</p>
                            </span></a>

                        <div  class="sub-nav">
                            <div class="sub-menu">
                                <div>
                                    <p class="sub-menu-p"><span class="sub-menu-phead">MOBILE PHONES</span><br>
                                        Smartphones<br>
                                        Feature Phones<br>
                                        <br>
                                        <span class="sub-menu-phead">MOBILE CASES & COVERS</span><br>
                                        New Launches Covers<span> 🔥</span> <br>
                                        Printed Back Covers<br>
                                        Plain Back Covers<br>
                                        Flip Covers<br>
                                        Premium Covers<br>
                                        <span class="viewall">View All ></span><br>
                                        <br>
                                        <span class="sub-menu-phead">POWER BANKS</span><br>
                                        Ambrane<br>
                                        Intex<br>
                                        Syska<br>
                                        Polymer Power Banks<br>
                                        <br>
                                        <span class="sub-menu-phead">TOP BRANDS</span><br>
                                        Panasonic<br>
                                        Micromax<br>
                                        Intex<br>
                                        Samsung<br>
                                        Karbonn
                                    </p>
                                </div>
                            </div>

                            <div class="sub-menu">
                                <div>
                                    <p class="sub-menu-p"><span class="sub-menu-phead">MOBILE ACCESSORIES</span><br>
                                        Batteries<br>
                                        Screen Guards<br>
                                        Cables & Chargers<br>
                                        Smartwatch Accessories<br>
                                        Selfie Sticks<br>
                                        Bluetooth Devices<br>
                                        <span class="viewall">View All ></span><br>
                                        <br>
                                        <span class="sub-menu-phead">WEARABLES & SMARTWATCHES</span><br>
                                        Life Like<br>
                                        Top Selling Wearables<br>
                                        TABLETS<br>
                                        iKall<br>
                                        Samsung<br>
                                        Micromax<br>
                                        iBall<br>
                                        <span class="viewall">View All ></span><br>

                                        <br>
                                        <span class="sub-menu-phead">TABLET ACCESSORIES</span><br>
                                        Tablet Covers<br>
                                        Tablet Keyboards
                                    </p>
                                </div>
                            </div>

                            <div class="sub-menu">
                                <div>
                                    <p class="sub-menu-p"><span class="sub-menu-phead">FEATURED STORES</span><br>
                                        POPULAR SMARTPHONES
                                        Redmi Note 5 Pro<br>
                                        Redmi Note 6 Pro<br>
                                        Samsung Galaxy J6+<br>
                                        Vivo V11 Pro<span> 🔥</span> <br>
                                        Oppo F9 Pro<br>
                                        Oppo A3S<br>
                                        Honor 9 Lite<br>
                                        Vivo Y83 Pro<br>
                                        Lenovo K8 Plus<br>
                                        Samsung Galaxy J2 Core<br>
                                        Vivo Y71i<br>
                                        <br>
                                        <span class="sub-menu-phead">POPULAR FEATURE PHONES</span><br>
                                        I Kall K71 (Dark Blue)<br>
                                        JIO MOBILE (Black, 4G)<br>
                                        <br>
                                        <span class="sub-menu-phead">POPULAR ACCESSORIES</span><br>
                                        Ambrane 10000 mAh<br>
                                        Ambrane 13000 mAh<br>
                                        Callmate 15000 mAh<br>
                                        Intex 12500 mAh<br>
                                        Stonx 15000 mAh<br>
                                        Must Haves Accessories<br>
                                    </p>
                                </div>
                            </div>
                            <div class="sub-menu">
                                <div>
                                    <img src="https://n2.sdlcdn.com/imgs/i/7/q/Mobiles_17jan-197ca.jpg">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li  class="sidebar-main"><a href="">
                            <span class="inside-sidebarmain"><img src="../assets/images/fridge.png" width="28px"></span>
                            <span class="inside-sidebarmain2">
                                <p class="in">Electronics</p>
                            </span></a>

                        <div  class="sub-nav">
                            <div class="sub-menu">
                                <div>
                                    <p class="sub-menu-p"><span class="sub-menu-phead">TELEVISIONS</span><br>

                                        Top Selling TVs<br>
                                        Full HD TVs<br>
                                        Smart TVs<br>
                                        Ultra HD TVs<br>
                                        DTH Services<br>
                                        Streaming Media Players<br>
                                        <br>
                                        <span class="sub-menu-phead">SPEAKERS</span><br>
                                        Home Audio Systems<br>
                                        Bluetooth Speakers<br>
                                        2.1 & 2.0 Speakers<br>
                                        HEADPHONE & EARPHONES<br>
                                        Headphones<br>
                                        Earphones<br>
                                        Headsets with Micromax<br>
                                        <br>
                                        <span class="sub-menu-phead">AUDIO & VIDEO</span><br>
                                        iPods & MP3 Players<br>
                                        DVD & Blu-ray Players<br>
                                        Projectors<br>
                                        Audio & Video Accessories<br>
                                    </p>
                                </div>
                            </div>

                            <div class="sub-menu">
                                <div>
                                    <p class="sub-menu-p"><span class="sub-menu-phead">WINTER APPLIANCES</span><br>
                                        Geysers<br>
                                        Immersion Rods<br>
                                        Room Heaters<br>
                                        Oil Filled Radiators<br>
                                        <br>
                                        <span class="sub-menu-phead">WASHING MACHINES</span><br>
                                        Semi Automatic<br>
                                        Fully Automatic<br>
                                        SUMMER APPLIANCES<br>
                                        <br>
                                        <span class="sub-menu-phead">FANS</span><br>
                                        Ceiling Fans<br>
                                        Table Fans<br>
                                        Pedestal Fans<br>
                                        Exhaust Fans
                                    </p>
                                </div>
                            </div>

                            <div class="sub-menu">
                                <div>
                                    <p class="sub-menu-p"><span class="sub-menu-phead">FEATURED STORES</span><br>
                                        SMALL APPLIANCES<br>
                                        Microwaves & OTG<br>
                                        Air Purifiers<br>
                                        Vacuum Cleaners<br>
                                        Irons<br>
                                        Landline Phones<br>
                                        Home Security Systems<br>
                                        Sewing Machines<br>
                                        <br>
                                        <span class="sub-menu-phead">GROOMING APPLIANCES</span><br>
                                        Trimmers<br>
                                        Shavers<br>
                                        Hair Dryers<br>
                                        Hair Straighteners<br>
                                        Hair Curlers & More<br>
                                        <br>
                                        <span class="sub-menu-phead">CAMERAS & ACCESSORIES</span><br>
                                        DSLRs<br>
                                        Camera Accessories<br>
                                        Camera Lenses<br>
                                        Action Cameras<br>
                                        Binoculars and Telescopes<br>
                                        Digital CAMERAS
                                    </p>
                                </div>
                            </div>
                            <div class="sub-menu">
                                <div>
                                    <img src="https://n4.sdlcdn.com/imgs/i/1/o/electronics-7e68c.jpg">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li  class="sidebar-main"><a href="">
                            <span class="inside-sidebarmain"><img src="../assets/images/quantum-computing.png"
                                    width="28px"></span>
                            <span class="inside-sidebarmain2">
                                <p class="in">Computer & Gaming</p>
                            </span></a>

                        <div class="sub-nav">
                            <div class="sub-menu">
                                <div>
                                    <p class="sub-menu-p"><span class="sub-menu-phead">LAPTOPS</span><br>
                                        Core i3 Laptops<br>
                                        Core i5/i7 Laptops<br>
                                        Budget Laptops<br>
                                        Thin & Light Laptops<br>
                                        <span class="viewall"><a href="category_product_page.html"
                                                style="color: #337ab7; padding-left: 1px;">View All ></a></span><br>
                                        <br>
                                        <span class="sub-menu-phead">PRINTERS & INKS</span><br>
                                        Printers<br>
                                        Scanners<br>
                                        Inks & Toners<br>
                                        <span class="viewall">View All ></span><br>
                                        <br>
                                        <span class="sub-menu-phead">STORAGE</span><br>
                                        External Hard Drives<br>
                                        Memory cards<br>
                                        Pen Drives<br>
                                        SSD<br>
                                        <br>
                                        <span class="sub-menu-phead">NETWORKING DEVICES</span><br>
                                        Data Cards<br>
                                        Dongles<br>
                                        Routers
                                    </p>
                                </div>
                            </div>

                            <div class="sub-menu">
                                <div>
                                    <p class="sub-menu-p"><span class="sub-menu-phead">TOP LAPTOP BRANDS</span><br>
                                        HP<br>
                                        Dell<br>
                                        Lenovo<br>
                                        Apple<br>
                                        Acer<br>
                                        Asus<br>
                                        MSI<br>
                                        <br>
                                        <span class="sub-menu-phead">COMPUTER ACCESSORIES</span><br>
                                        Keyboards<br>
                                        Mouse<br>
                                        Webcams<br>
                                        Laptop Skins<br>
                                        Cooling Pads<br>
                                        Extension Cords<br>
                                        Warranty Insurance<br>
                                        <span class="viewall">View All ></span><br>
                                        <br>
                                        <span class="sub-menu-phead">DESKTOPS</span><br>
                                        All in One<br>
                                        Mini Desktop<br>
                                        Tower Desktop<br>
                                        Assembled Desktops<br>
                                        <span class="viewall">View All ></span>
                                    </p>
                                </div>
                            </div>

                            <div class="sub-menu">
                                <div>
                                    <p class="sub-menu-p"><span class="sub-menu-phead">GAMING</span><br>
                                        Gaming Consoles<br>
                                        Gaming Accessories<br>
                                        Gaming Titles<br>
                                        <span class="viewall">View All ></span><br>
                                        <br>
                                        <span class="sub-menu-phead">COMPUTER COMPONENTS</span><br>
                                        CPU<br>
                                        Motherboard<br>
                                        RAM<br>
                                        Graphic Card<br>
                                        Internal Hard Drive<br>
                                        UPS<br>
                                        <span class="viewall">View All ></span><br>
                                        <br>
                                        <span class="sub-menu-phead">SOFTWARE</span><br>
                                        Antivirus<br>
                                        Operating System<br>
                                        Office<br>
                                        <span class="viewall">View All ></span><br>
                                        <br>
                                        <span class="sub-menu-phead">MONITORS</span><br>
                                        Full HD<br>
                                        HD<br>
                                        Wide XGA<br>
                                        <span class="viewall">View All ></span>
                                    </p>
                                </div>
                            </div>
                            <div class="sub-menu">
                                <div>
                                    <img src="https://n1.sdlcdn.com/imgs/i/1/r/Laptopacc_28oct-581f8.jpg">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="sidebar-main"><a href="#">
                            <span class="inside-sidebarmain"><img src="../assets/images/kitchen-tools.png"
                                    width="28px"></span>
                            <span class="inside-sidebarmain2">
                                <p class="in">Home & Kitchen</p>
                            </span></a>

                        <div  class="sub-nav">
                            <div class="sub-menu">
                                <div>
                                    <p class="sub-menu-p"><span class="sub-menu-phead">KITCHEN APPLIANCES</span><br>
                                        Juicer Mixer Grinders<br>
                                        Water Purifiers<br>
                                        Gas Stoves & Hobs<br>
                                        Chimneys<br>
                                        Induction Cooktops<br>
                                        Kettles & Coffee Makers<br>
                                        Choppers & Blenders<br>
                                        Sandwich Makers<br>
                                        Roti Makers<br>
                                        Electric Cookers<br>
                                        Air Fryers<br>
                                        <span class="viewall">View All ></span><br>
                                        <br>
                                        <span class="sub-menu-phead">KITCHENWARE</span><br>
                                        Cookware & Bakeware<br>
                                        Kitchen Storage<br>
                                        Dining & Serving<br>
                                        Kitchen Tools<br>
                                        Pressure Cookers<br>
                                        Water Bottles<br>
                                        Tea & Coffeeware<br>
                                        Bar Accessories<br>
                                        <span class="viewall">View All ></span>
                                    </p>
                                </div>
                            </div>

                            <div class="sub-menu">
                                <div>
                                    <p class="sub-menu-p"><span class="sub-menu-phead">HOME FURNISHING</span><br>
                                        Bed Linen<br>
                                        Bath Linen<br>
                                        Blankets & Quilts<br>
                                        Curtains & Accessories<br>
                                        Mattresses<br>
                                        <span class="viewall">View All ></span><br>
                                        <br>
                                        <span class="sub-menu-phead">FURNITURE</span><br>
                                        Living Room<br>
                                        Bedroom<br>
                                        Dining Sets & Bar Units<br>
                                        Chairs<br>
                                        Storage & Display<br>
                                        Bean Bags<br>
                                        Tables & Desks<br>
                                        <span class="viewall">View All ></span><br>
                                        <br>
                                        <span class="sub-menu-phead">HOME DÉCOR</span><br>
                                        Lighting Fixtures<br>
                                        Wall Decor<br>
                                        Gifts & Decor<br>
                                        Religion & Spirituality<br>
                                        LED Bulbs<br>
                                        <span class="viewall">View All ></span><br>
                                    </p>
                                </div>
                            </div>

                            <div class="sub-menu">
                                <div>
                                    <p class="sub-menu-p"><span class="sub-menu-phead">FEATURED STORES</span><br>
                                        HOME IMPROVEMENT<br>
                                        Home Utility<br>
                                        Cleaning Mops<br>
                                        Plants & Gardening<br>
                                        Ironing Boards<br>
                                        Home Cleaning<br>
                                        Laundry Accessories<br>
                                        <span class="viewall">View All ></span><br>
                                        <br>
                                        <span class="sub-menu-phead">TOOLS & HARDWARE</span><br>
                                        Power & Hand Tools<br>
                                        Bathroom Accessories<br>
                                        Electrical<br>
                                        Taps & Showers<br>
                                        Safes Lock & Door Fitting<br>
                                        Sanitaryware<br>
                                        <span class="viewall">View All ></span><br>
                                        <br>
                                        <span class="sub-menu-phead">PET SUPPLIES</span><br>
                                        Dog Supplies<br>
                                        Cat Supplies<br>
                                        Fish & Aquatic Supplies<br>
                                        Bird Supplies<br>
                                        <span class="viewall">View All ></span>
                                    </p>
                                </div>
                            </div>
                            <div class="sub-menu">
                                <div>
                                    <img src="https://n1.sdlcdn.com/imgs/i/1/r/GM_28oct-e8cd1.jpg">
                                </div>
                            </div>
                        </div>
                    </li>

                    <p class="sidebar-heading">MORE CATEGORIES</p>
                    <li><a href="">Men's Fashion</a></li>
                    <li><a href="">Women's Fashion</a></li>
                    <li><a href="">Toy's Kids' Fashion & more</a></li>
                    <li><a href="">Beauty,Health & Daily Needs</a></li>
                    <li><a href="">Sports, Fitness & Outdoor</a></li>
                    <li><a href="">Car & Motorbike</a></li>
                    <li><a href="">Hobbies</a></li>
                    <li><a href="">Books,Media & Music</a></li>
                    <li><a href="">See All Categories</a></li>
                    <li><p class="sidebar-heading">TRENDING SEARCHES</p></li>
                   <li> <p class="sidebar-nohover"><a href=""><span class="material-icons">search</span><span>&nbsp; Men
                                Watch</span></a></p></li>
                    <li><p class="sidebar-nohover"><a href=""><span class="material-icons">search</span><span>&nbsp;
                                Slipper</span></a></p></li>
                   <li> <p class="sidebar-nohover"><a href=""><span class="material-icons">search</span><span>&nbsp; Jacket
                                Men</span></a></p></li>
                   <li> <p class="sidebar-nohover"><a href=""><span class="material-icons">search</span><span>&nbsp; Mens
                                Shirt</span></a></p></li>
                  <li>  <p class="sidebar-nohover"><a href=""><span class="material-icons">search</span><span>&nbsp;
                                Torch</span></a></p></li>
                </ul>
            </div>
        </div>
          <div class="right">
            <div class="left1">
                <div class="previous round" (click)="onPrevious()" >&#8249;</div>
                <div class="next round" (click)="onNext()"
                >&#8250;</div>
               
                <div [@animImageSlider]="counter">
                    <ng-container *ngFor="let img of images; let i=index">
                        <img [src]="img" class="image-all5" *ngIf="i===counter" />
                    </ng-container>
                </div>
            </div>
            <div class="right1">
                <div id="login_cards">
                    <div class="sideDiv">
                        <img id="snap" src="../assets/snapdeal pic.png" alt="">
                        <p class="sidedivPare">Login to your</p>
                        <p class="sidedivPare">Snapdeal account</p>
                        <button id="sidedivBtn" >LOG IN</button>
                        <div>
                            <label for="">New user? Register</label>
                            <button class="sidedivNextbtn">NEXT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div id="trending_products">
            <h2>TRENDING PRODUCTS</h2>
            <div></div>
        </div> 
    </div>
</div>