<div class="header">
    <div class="upper">
    <div class="first">
    <span class="tagline">{{tagline}}</span>
  </div>
  <div class="sixth">
    <span class="downloadicon"><img class="image-all" [src]="downloadicon" alt=""></span><span>{{download}}</span>
  </div>
 
  <div class="fifth">
    <span>{{sell}}</span>
  </div>
  <div class="fifth">
    <span>{{help}}</span>
  </div>
  <div class="fifth">
    <span>{{gift}}</span>
  </div>
  <div class="second">
    <span>{{impact}}</span>
  </div>
    </div>
    <div class="lower">
      
      <div class="logo">
        <img class="image-all4" [src]="logo" alt="">
      </div>
      <div class="searchbar">
        <input class="search" type="text" placeholder="Search products and brands">
        <div class="searchbtn"><img class="image-all1" [src]="searchicon" alt="">{{searchtxt}}</div>
      </div>
      <div class="last">
        <div class="cart"><span>Cart</span><span><img class="image-all2" [src]="carticon" alt=""></span></div>
        <div class="signIn"><span>Sign In &nbsp; &nbsp;</span><span><img class="image-all3" [src]="accounticon" alt=""></span></div>
      </div>
      </div>
  </div>
  <app-main-section></app-main-section>