<div class="header">
    <div class="upper">
    <div class="first">
    <span class="tagline">{{tagline}}</span>
  </div>
  <div class="sixth">
    <span class="downloadicon"><img class="image-all" [src]="downloadicon" alt=""></span><span>{{download}}</span>
  </div>
 
  <div class="fifth">
    <span>{{sell}}</span>
  </div>
  <div class="fifth">
    <span>{{help}}</span>
  </div>
  <div class="fifth">
    <span>{{gift}}</span>
  </div>
  <div class="second">
    <span>{{impact}}</span>
  </div>
    </div>
    <div class="lower">
      
      <div class="logo">
        <img class="image-all4" [src]="logo" alt="">
      </div>
      <div class="searchbar">
        <input class="search" type="text" placeholder="Search products and brands">
        <div class="searchbtn"><img class="image-all1" [src]="searchicon" alt="">{{searchtxt}}</div>
      </div>
      <div class="last">
        <div class="cart"><span>Cart</span><span><img class="image-all2" [src]="carticon" alt=""></span></div>
        <div (mouseenter)="hoverArea()" class="signIn"><span>Sign In &nbsp; &nbsp;</span><span><img class="image-all3" [src]="accounticon" alt=""></span>
        <div *ngIf="hover" (mouseleave)="hoverArea()" class="dropdown">
          <ul>
            <li><img src="https://img.icons8.com/material-outlined/24/ffffff/user--v1.png" />Your
                Account</li>
            <li><img
                    src="https://img.icons8.com/external-those-icons-lineal-those-icons/24/ffffff/external-box-shipping-delivery-those-icons-lineal-those-icons-2.png" />
                Your Orders</li>
            <li><img src="https://img.icons8.com/material-outlined/24/ffffff/like--v1.png" />
                Shortlist
            </li>
            <li><img src="https://img.icons8.com/ios-glyphs/30/ffffff/get-cash.png" />
                SD Cash
            </li>
            <hr>
            <li><div class="innerdrop">
                <p>If you are a new user</p>
                <p>Register</p>
                <button>LOGIN</button>
            </div></li>
        </ul>
        </div>
        </div>
      </div>
      </div>
  </div>
  <app-main-section></app-main-section>
  <app-footer></app-footer>
  <div *ngIf="isShow" class="btn-scroll" (click)="gotoTop()"><img id="image-scroll" src="../assets/images/scroll.png" alt=""></div>