<div class="gray_heading">
    <p style="font-size: 12px; margin: 10px;">Home&nbsp; /&nbsp; Top Categories&nbsp; /&nbsp; Products&nbsp; /&nbsp;
        <span id="product_name_branch"> Lenovo Ideapad Gaming 3 Intel Core i5 10th Gen 15.6 inch FHD Gaming Laptop
            (8GB/1TB+256GB SSD/Windows 10/MS Office 2019/NVIDIA GTX 1650 4GB</span>&nbsp;
    </p>

</div>
<div class="container">
    <div id="parent"><img
            src="https://n4.sdlcdn.com/imgs/j/w/g/large/Lenovo-Ideapad-Gaming-3-Intel-SDL258033580-1-71f25.webp"></div>
    <div id="parent2">
        <p>Lenovo Ideapad Gaming 3 Intel Core i5 10th Gen 15.6 inch FHD Gaming Laptop (8GB/1TB+256GB SSD/Windows 10/MS
            Office 2019/NVIDIA GTX 1650 4GB Graphics/Onyx Black/2.2Kg), 81Y400E1IN</p>
        <div class="stars-outer">
            <div class="stars-inner" style="width: 86%;"><i class="fa fa-star"></i></div>
        </div><span class="clr-lightGray" style="margin-left: 10px;">(4.3)</span>
        <hr>
        <div style="display: inline; width: 10%;"><span style="margin-right: 2px; color: rgb(187, 187, 187);">MRP <span
                    style="text-decoration: line-through;">Rs. 107690</span> (Inclusive of all taxes)
            </span><span style="margin-right: 5px; color: red; font-size: 24px;"><br>Rs. 62460</span><span
                id="discount_off" style="display: inline-block;">42% OFF<br></span></div>
        <div id="offer">
            <p>(3) Offers | Applicable on cart</p>
            <div class="rect"><div class="imgbox"><img id="offerimg" src="https://i2.sdlcdn.com/img/newOffersIcon.png"></div>
                <p>15% Instant Discount Using Rupay Debit &amp; Credit Cards T&amp;C</p>
            </div>
            <div class="rect"><div class="imgbox"><img id="offerimg" src="https://i2.sdlcdn.com/img/newOffersIcon.png"></div>
                <p>25% Instant Discount Using IDBI Bank Credit Cards T&amp;C</p>
            </div>
            <div class="rect"><div class="imgbox"><img id="offerimg" src="https://i2.sdlcdn.com/img/newOffersIcon.png"></div>
                <p>20% Cashback Using Dhani Cards. Min. Order: Rs. 100 T&amp;C</p>
            </div>
        </div>
        <div id="addAndBuy"><button>ADD TO CART</button><button id="buyNowBtn"><img src="images/sdLogoBox.png"
                    style="width: 1rem; margin-right: 5px;">BUY NOW</button></div>
        <div id="returnDiv">
            <h5 style="font-weight: 400; font-size: 0.8rem;"><img src="../../assets/shield-50.png" style="width: 0.8rem;"> 7
                Days Easy Returns</h5>
            <h6> Trustpay: 100% Payment Protection. Return or Replacement is applicable for 7 days after delivery.</h6>
        </div>
    </div>
</div>
<div class="highlights">
    <h3>Item Details</h3>
    <h3>Ratings & Reviews</h3>
    <h3>Questions & Answers</h3>

</div>
<div class="details">
    <section class="accordion">
        <input type="checkbox" name="collapse" id="handle1" checked="checked">
        <h2 class="handle">
            <label for="handle1" style="font-size: 17px;">
                Highlights
            </label>
        </h2>

        <div class="content">
            <div class="horizon">
                <li>Warranty Period</li>
                <li>Base Clock </li>
                <li>Backlit Keyboard:Yes</li>
                <li>SUPC </li>
            </div>
            <div class="horizon1">
                <li>Base Clock </li>
                <li>Weight (in Kg):1.66</li>
                <li>Resolution</li>
                <li>SUPC </li>
            </div>
            <div class="horizon2">
                <li>Usage:Business</li>
                <li>Base Clock </li>
                <li>Backlit Keyboard:Yes</li>
                <li>SUPC </li>
            </div>

        </div>




        <input type="checkbox" name="collapse" id="handle2">
        <h2 class="handle">
            <label for="handle2" style="font-size: 17px;">
                Other Specification
            </label>
        </h2>
        <div class="content">
            <p>Storage</p>
            <p>INPUT</p>
            <p>OVERVIEW</p>
            <p>Country of Origin or Manufacture or Assembly</p>
            <p>Manufacturer's Name & Address</p>
            <p>Packer's Name & Address</p>
        </div>
        <input type="checkbox" name="collapse" id="handle3">
        <h2 class="handle">
            <label for="handle3" style="font-size: 17px;">
                Useful Links
            </label>
        </h2>
        <div class="content">
            <p style="display: block;">Lenovo Service Provider</p>
            <p style="display: block;">Service Centre Details </p>
        </div>
        <input type="radio" name="collapse" id="handle4">
        <h2 class="handle">
            <label for="handle4" style="font-size: 17px;">
                Terms & Conditions
            </label>
        </h2>
        <div class="content">

            <p>The images represent actual product though color of the image and product may slightly differ.

                For warranty-related claims, please contact the brand service centre.

                Snapdeal does not select, edit, modify, alter, add or supplement the information, description and
                other specifications provided by the Seller.</p>
        </div>
    </section>
</div>