.container {
    /* border: 2px solid blue; */
    max-width: 1402px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 0px 11px 0px;
    background-color: white;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
}

#parent {
    display: inline-block;
    width: 35%;
    border-right: 1px solid rgba(187, 185, 185, 0.171);
    margin-right: 5%;
}

#parent>img {

    height: 500px;
    max-width: 100%;
}

#parent2 {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    text-overflow: clip;
}

#parent2>hr {
    background: rgba(187, 186, 186, 0.418);
    border: none;
    height: 1px;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}

.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
    font-size: 14px;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    /* width: 50%; */
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
    font-size: 14px;
}

#offer {
    border: 1px dashed rgba(128, 128, 128, 0.418);
    width: 40%;
    display: inline-grid;
    margin-left: 30%;
    text-align: inherit;
    /* height: 241px; */
    border-radius: 3px;
    padding: 5px;

}

#offer>p {
    margin: 0;

}



#offer>div>p {
    margin: 8px;
    font-size: 14px;
}


#addAndBuy {
    margin-left: 5%;
}

#addAndBuy>button {
    font-family: "font-regular";
    width: 150px;
    height: 50px;
    margin: 11px;
    color: white;
    border-radius: 4px;
}

#addAndBuy>button:nth-child(1) {
    background-color: #212121;
    border: none;
    cursor: pointer;
}

#addAndBuy>button:nth-child(1):hover {
    background-color: #323232;
    border: none;
}

#addAndBuy>button:nth-child(2) {
    background-color: #e40046;
    border: none;

}

#addAndBuy>button:nth-child(2):hover {
    background-color: #d90040;
}

#returnDiv>h5,
h6 {
    margin: 2px;
    font-size: 12px;
    color: #666666;
    font-weight: 400;
}

#returnDiv>h5{
    color: #444;
}

.gray_heading {
    height: 30px;
    max-width: 1402px;
    margin: auto;

}

.gray_heading > p {
    margin: 0 10px;
    font-size: 1px;
    text-align: left;
    color: gray;
    max-width: 1100px;
}

.gray_heading > p > span{
    height: 12x;
    text-overflow: ellipsis;
}

.highlights {
    max-width: 1402px;
    display: flex;
    width: 100%;
    margin: 34px auto;
    background-color: white;
    padding: 10px 0px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);

}

.highlights>h3 {
    font-size: 16px;
    flex-basis: 15%;
    color: gray;
    margin: 5px;
}

.details {
    max-width: 1402px;
    width: 100%;
    background-color: white;
    /* height: 1000px; */
    margin: 10px auto;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.accordion {
    display: flex;
    flex-direction: column;
    margin: -33px 0px
}

.accordion>input[name="collapse"] {
    position: absolute;
    left: -100vw;
    /* Behind the scene */
}

.accordion .content {
    background: #fff;
    overflow: hidden;
    display: block;
    margin: 0 100px;
    height: 0;
    transition: 0.5s;
    gap: 5px;


}


.accordion label {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: normal;
    padding: 10px;


}

.accordion label:hover,
.accordion label:focus {
    border: none;
}

.accordion .handle label:before {
    font-family: FontAwesome;
    content: "\f196";
    display: inline-block;
    margin-right: 30px;
    font-size: 1em;
    line-height: 1px;
    vertical-align: middle;
    transition: 0.4s;

}

.accordion>input[name="collapse"]:checked~.handle label:before {
    content: "\f147";
    transform-origin: center;
    transition: 0.4s;
}

.accordion>input[name="collapse"]:checked~.content {

    height: 100%;
    transition: height 0.5s;
}

.horizon {
    margin: 0 100px;
    display: flex;
}

.horizon1 {
    margin: 0 100px;
    display: flex;
}

.horizon2 {
    margin: 0 100px;
    display: flex;
}

.horizon>li {
    flex-basis: 95%;
}

.horizon1>li {
    flex-basis: 95%;
}

.horizon2>li {
    flex-basis: 95%;
}
.left{
    width:30%;
}
.right{
    width:70%;
}
#image1{
    height:auto;
    width:70%;
}
#offerimg{
    height:40px;
    width:95%;
}
.rect{
    margin:5px 0;
    display: flex;
}
.imgbox{
    padding:10px 0 0 0;
    width: 25%;
}